.gameContainer {
	.game {
		&__questionCounter {
			border-bottom: 1px solid #040461;
			width: 200px;
			text-align: center;
		}
		&__result {
			h3 {
				font-size: 6rem;
				text-align: center;
				letter-spacing: 5px;
			}
			p {
				margin-top: 20px;
				font-size: 3rem;
				text-align: center;
			}
		}
	}
}
